.App {
  text-align: center;
}
.main{
  width:80vw;
  margin-left:13vw;
}
.header{
  width:80vw;
  margin-left:13vw;
  background-color: white;
  color:black;
  padding: 7px;
  margin-bottom:10px;
  position:sticky;
  width:100vw;
}
.title{
  color:gray;
  padding:20px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}